@ApplicationScoped
public class UserService {

    private static final Logger LOG = Logger.getLogger(UserService.class);
    private final RedisClient redisClient;

    public UserService(RedisClient redisClient) {
        this.redisClient = redisClient;
    }

    public void saveUser(User user) {
        // 🔹 Salva rapidamente no Redis
        redisClient.set(List.of("user:" + user.email, user.name));

        LOG.info("Usuário salvo no Redis: " + user.email);

        // 🔹 Cria uma Virtual Thread para salvar no banco
        Thread.startVirtualThread(() -> persistUser(user));
    }

    @Transactional
    void persistUser(User user) {
        try {
            Thread.sleep(2000); // Simula processo demorado
            user.persist();
            LOG.info("Usuário persistido no banco: " + user.email);
        } catch (Exception e) {
            LOG.error("Erro ao persistir usuário", e);
        }
    }
}




#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/
